<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boyuanitsm.zhetengba" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainAct"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--忘记密码界面-->
        <activity android:name=".activity.FrogetpwdAct"
            android:screenOrientation="portrait"></activity>
        <!--注册界面-->
        <activity android:name=".activity.RegistAct"
            android:screenOrientation="portrait"></activity>
        <!--活动详情-->
        <activity android:name=".activity.HuodongAct"
            android:screenOrientation="portrait"></activity>
        <!--登录界面-->
        <activity android:name=".activity.LoginAct"
            android:screenOrientation="portrait"></activity>
        <!--档期界面-->
        <activity android:name=".activity.DangqiAct"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
