<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boyuanitsm.zhetengba">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--注册界面主入口-->
        <activity
            android:name=".activity.MainAct"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--忘记密码界面-->
        <activity
            android:name=".activity.FrogetpwdAct"
            android:screenOrientation="portrait"></activity>
        <!--注册界面-->
        <activity
            android:name=".activity.RegistAct"
            android:screenOrientation="portrait"></activity>
        <!--注册信息-->

        <!--活动详情-->
        <activity
            android:name=".activity.EventdetailsAct"
            android:screenOrientation="portrait">
        </activity>
        <!--登录界面-->
        <activity
            android:name=".activity.LoginAct"
            android:screenOrientation="portrait"></activity>
        <!--档期界面-->
        <activity
            android:name=".activity.ScheduleAct"
            android:screenOrientation="portrait"></activity>
        <!--个人资料界面-->
        <activity
            android:name=".activity.PersonalmesAct"
            android:screenOrientation="portrait"></activity>
        <!--设置界面-->
        <activity
            android:name=".activity.SettingAct"
            android:screenOrientation="portrait"></activity>
        <!--关于折腾吧界面-->
        <activity
            android:name=".activity.AboutztbAct"
            android:screenOrientation="portrait"></activity>
        <!--分享二维码界面-->
        <activity
            android:name=".activity.ShareqrcodeAct"
            android:screenOrientation="portrait"></activity>
        <!--系统消息界面-->
        <activity
            android:name=".activity.SystemmesAct"
            android:screenOrientation="portrait"></activity>

        <!--圈子：圈子管理界面-->
        <activity android:name=".activity.CirMessAct"
            android:screenOrientation="portrait"></activity>


        <!--圈子管理界面-->
        <activity android:name=".activity.CircleglAct"
            android:screenOrientation="portrait"></activity>

        <!--圈子：圈子消息界面-->
        <activity android:name=".activity.CirMess"
            android:screenOrientation="portrait"></activity>
        <!--圈子：我的发布界面-->
        <activity android:name=".activity.MyPlaneAct"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
