<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boyuanitsm.zhetengba">

    <permission
        android:name="com.boyuanitsm.zhetengba.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.boyuanitsm.zhetengba.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- 使用时把com.easemob.chatuidemo替换成自己的包名 -->
    <permission
        android:name="com.boyuanitsm.zhetengba.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.boyuanitsm.zhetengba.permission.C2D_MESSAGE" />
    <permission
        android:name="com.boyuanitsm.zhetengba.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.boyuanitsm.zhetengbao.permission.MIPUSH_RECEIVE" />

    <!--友盟分享权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--注册界面主入口-->
        <activity
            android:name=".activity.MainAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <!--引导页-->
        <activity
            android:name=".activity.GuideAct"
            android:screenOrientation="portrait"></activity>
        <!--忘记密码界面-->
        <activity
            android:name=".activity.mine.FrogetpwdAct"
            android:screenOrientation="portrait"></activity>
        <!--注册界面-->
        <activity
            android:name=".activity.mine.RegistAct"
            android:screenOrientation="portrait"></activity>
        <!--注册信息-->
        <activity
            android:name=".activity.mine.RegInfoAct"
            android:screenOrientation="portrait"></activity>
        <!--注册协议-->
        <activity android:name=".activity.mine.WebAct"
            android:screenOrientation="portrait"></activity>
        <!--登录界面-->
        <activity
            android:name=".activity.mine.LoginAct"
            android:screenOrientation="portrait"></activity>
        <!--档期界面-->
        <activity
            android:name=".activity.publish.ScheduleAct"
            android:screenOrientation="portrait"></activity>
        <!--选择性别界面-->
        <activity
            android:name=".activity.mine.SelectSexAct"
            android:screenOrientation="portrait"></activity>
        <!--个人资料界面-->
        <activity
            android:name=".activity.mine.PersonalmesAct"
            android:screenOrientation="portrait"></activity>
        <!--设置界面-->
        <activity
            android:name=".activity.mine.SettingAct"
            android:screenOrientation="portrait"></activity>
        <!--关于折腾吧界面-->
        <activity
            android:name=".activity.mine.AboutztbAct"
            android:screenOrientation="portrait"></activity>
        <!--分享二维码界面-->
        <activity
            android:name=".activity.mine.ShareqrcodeAct"
            android:screenOrientation="portrait"></activity>
        <!--系统消息界面-->
        <activity
            android:name=".activity.SystemmesAct"
            android:screenOrientation="portrait"></activity>
        <!--反馈-->
        <activity
            android:name=".activity.mine.FeedbackAct"
            android:screenOrientation="portrait"></activity>
        <!--消息提醒界面-->
        <activity android:name=".activity.mine.NewxxAct"
            android:screenOrientation="portrait"></activity>
        <!--我的收藏-->
        <activity
            android:name=".activity.mine.MyColleitionAct"
            android:screenOrientation="portrait"></activity>
        <!--标签管理-->
        <activity
            android:name=".activity.mine.LabelMangerAct"
            android:screenOrientation="portrait"></activity>a
        <!--编辑界面-->
        <activity
            android:name=".activity.mine.EditAct"
            android:screenOrientation="portrait"></activity>

        <!--档期消息-->
        <activity
            android:name=".activity.mess.DqMesAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.mess.ContractsAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.mess.NewFriendsMsgActivity"
            android:screenOrientation="portrait"></activity>
        <!--我的群组-->
        <activity
            android:name=".chat.act.MyGroupAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <!--添加好友-->
        <activity
            android:name=".activity.mess.AddFriendsAct"
            android:screenOrientation="portrait"></activity>
        <!--扫描二维码-->
        <activity
            android:name=".activity.mess.ScanQrcodeAct"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.mess.PhoneAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.mess.CreateGroupAct"
            android:screenOrientation="portrait"></activity>


        <!-- 聊天相关-->
        <activity
            android:name=".chat.act.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name=".chat.act.ContextMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"></activity>
        <activity
            android:name=".chat.act.EditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateVisible"></activity>
        <activity
            android:name=".chat.act.ExitGroupDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom"></activity>
        <activity
            android:name=".chat.act.ForwardMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".chat.act.GroupDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"></activity>
        <activity
            android:name=".chat.act.GroupPickContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".chat.act.PickContactNoCheckboxActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".chat.act.HeiAct"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.TestListView"
            android:screenOrientation="portrait"></activity>

        <!-- 开机自启动服务 -->
        <receiver android:name=".chat.receiver.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- gcm start -->
        <receiver
            android:name="com.hyphenate.chat.EMGCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.hyphenate.chatuidemo" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.hyphenate.chat.EMGCMListenerService"
            android:exported="false"></service>

        <receiver
            android:name=".chat.receiver.GCMPushBroadCast"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hyphenate.sdk.push" />
                <category android:name="com.hyphenate.chatuidemo" />
            </intent-filter>
        </receiver>
        <!-- gcm end -->

        <!-- mi push -->
        <!--<service-->
        <!--android:name="com.xiaomi.mipush.sdk.PushMessageHandler"-->
        <!--android:enabled="true"-->
        <!--android:exported="true" />-->
        <!--<service-->
        <!--android:name="com.xiaomi.mipush.sdk.MessageHandleService"-->
        <!--android:enabled="true" />-->

        <receiver
            android:name="com.hyphenate.chat.EMMipushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <!-- 设置环信应用的appkey -->
        <!--测试：wbsj19900625#zheteng-->
       <!--正式： hseb2016#zhetengba-->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="wbsj19900625#zheteng" />
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!--圈子：圈子消息界面-->
        <activity
            android:name=".activity.circle.CirMessAct"
            android:screenOrientation="portrait"></activity>


        <!--圈子管理界面-->
        <activity
            android:name=".activity.circle.CircleglAct"
            android:screenOrientation="portrait"></activity>
        <!--圈子：我的发布界面-->
        <activity
            android:name=".activity.publish.MyPlaneAct"
            android:screenOrientation="portrait"></activity>

        <!--建立圈子界面-->
        <activity
            android:name=".activity.circle.CreatCirAct"
            android:screenOrientation="portrait"></activity>
        <!--圈子发布界面-->
        <activity
            android:name=".activity.circle.CirclefbAct"
            android:screenOrientation="portrait"></activity>

        <!--圈子成员界面-->
        <activity
            android:name=".activity.circle.CircleppAct"
            android:screenOrientation="portrait"></activity>
        <!--评论界面-->
        <activity
            android:name=".activity.circle.CommentAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"></activity>
        <!--简约界面-->
        <activity
            android:name=".activity.publish.ContractedAct"
            android:screenOrientation="portrait"></activity>
        <!--位置信息-->
        <!--<activity-->
        <!--android:name=".activity.LocationAct"-->
        <!--android:screenOrientation="portrait"></activity>-->
        <!--管理圈子-->
        <activity
            android:name=".activity.circle.GLCirAct"
            android:screenOrientation="portrait"></activity>

        <!--圈子资料界面-->
        <activity
            android:name=".activity.circle.CirmationAct"
            android:screenOrientation="portrait"></activity>

        <!--扫一扫界面-->

        <!--圈子详情界面-->
        <activity
            android:name=".activity.circle.CirxqAct"
            android:screenOrientation="portrait"></activity>

        <!--频道正文界面-->
        <activity
            android:name=".activity.circle.ChanelTextAct"
            android:screenOrientation="portrait"></activity>

        <!--裁减图片-->
        <activity
            android:name=".view.crop.square.CropImageActivity"
            android:screenOrientation="portrait"></activity>
        <!--裁剪头像页面-->
        <activity
            android:name=".activity.mine.ClipActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"></activity>
        <!--活动详情-->
        <activity
            android:name=".activity.circle.EventdetailsAct"
            android:screenOrientation="portrait"></activity>

        <!--消息里面个人主页界面-->
        <activity
            android:name=".activity.mess.PerpageAct"
            android:screenOrientation="portrait"></activity>
        <!--添加图片选择界面-->
        <activity
            android:name=".activity.photo.PicSelectActivity"
            android:screenOrientation="portrait"></activity>
        <!--移除图片选择界面-->
        <activity
            android:name=".activity.photo.ImageBrowserActivity"
            android:screenOrientation="portrait"></activity>

        <!--dialog形式分享-->
        <activity
            android:name=".activity.ShareDialogAct"
            android:screenOrientation="portrait"
            android:theme="@style/ActionSheetDialogStyle" />


        <!--###################友盟分享###############################-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!--新浪微博-->
        <activity
            android:name=".activity.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--扣扣和扣扣空间-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105535488" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--新浪微博-->
        <activity
            android:name=".activity.wxapi.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"></activity>

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false"></service>
        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="578367a867e58e2c0e002761"></meta-data>

        <!--加好友验证界面-->
        <activity
            android:name=".activity.mess.MessVerifyAct"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="AddFriend"></action>
            </intent-filter>
        </activity>
        <!--圈子搜索界面-->
        <activity
            android:name=".activity.circle.SerchCirAct"
            android:screenOrientation="portrait"></activity>
        <!--圈子二维码界面-->
        <activity
            android:name=".activity.circle.CircleEr"
            android:screenOrientation="portrait"></activity>
        <!--圈子正文-->
        <activity
            android:name=".activity.circle.CircleTextAct"
            android:screenOrientation="portrait"></activity>
        <!--测试listview-->
        <!--<activity-->
            <!--android:name=".activity.TestListView"-->
            <!--android:screenOrientation="portrait"></activity>-->
        <!--指定谁能看，不能看界面/邀请好友-->
        <activity
            android:name=".activity.mine.AssignScanAct"
            android:screenOrientation="portrait"></activity>

        <!--我的抽奖界面-->
        <activity android:name=".activity.mine.LuckyAct"
            android:screenOrientation="portrait"></activity>


        <!--广场-->
        <activity android:name=".activity.circle.SquareAct"
            android:screenOrientation="portrait"></activity>
        <!--圈子-->
        <activity android:name=".activity.circle.CircleAct"
            android:screenOrientation="portrait"></activity>
        <!--时间轴-->
        <activity android:name=".activity.mine.TimeHistoryAct"
            android:screenOrientation="portrait"></activity>


        <!-- 极光-->
        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle"></activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.boyuanitsm.zhetengba" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.boyuanitsm.zhetengba" />
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!--Required  显示通知栏 -->
                <category android:name="com.boyuanitsm.zhetengba" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.boyuanitsm.zhetengba.receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.boyuanitsm.zhetengba" />
            </intent-filter>
        </receiver>


        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="f0da3849ddbb042808145088" />
        <!--//b80846c99d049f7e15fada5f-->
        <!--  </>值来自开发者平台取得的AppKey-->

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="QpVNC1N6WGaZWlYv4BNHCSdCLssyz7KV" />
    </application>


</manifest>
